<div
  x-cloak
  x-show="showDropdown"
  @mouseover="showDropdown = true"
  @mouseleave="showDropdown = false"
  x-transition
>
  <!-- Status element -->
  <div
    id="services"
    class="absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-primary shadow-lg ring-1 ring-black ring-opacity-5 shadow focus:outline-none"
    x-transition
  >
    <div id="service_1" class="flex items-center gap-3 p-2 bg-scuro">
      <p>Service 1:</p>
      <div id="service_palle" class="flex items-center gap-2">
        <div class="rounded-full p-2 bg-verde"></div>
        <div class="rounded-full p-2 bg-verde"></div>
        <div class="rounded-full p-2 bg-verde"></div>
      </div>
    </div>
    <div id="service_2" class="flex items-center gap-3 p-2 bg-scuro">
      <p>Service 2:</p>
      <div id="service_palle" class="flex items-center gap-2">
        <div class="rounded-full p-2 bg-verde"></div>
        <div class="rounded-full p-2 bg-verde"></div>
        <div class="rounded-full p-2 bg-verde"></div>
      </div>
    </div>
  </div>
</div>
