@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Fira+Code:wght@300;400&family=Open+Sans:wght@300;400&display=swap");

* {
  font-family: "Open Sans", regular;
}
#logo {
  font-family: "Comfortaa", medium;
}
.ace_editor * {
  font-family: "Fira Code", light;
}
